
@{
    ViewData["Title"] = "jQuery";
}

<h1>jQuery</h1>
<button id="buttonGet" class="btn btn-primary">get</button>
<button id="buttonPost" class="btn btn-secondary">post</button>
<button id="buttonJson" class="btn btn-success">getJson</button>
<button id="buttonLoad" class="btn btn-info">load</button>
<button id="buttonAjax" class="btn btn-warning">ajax</button>
<button id="buttonCors" class="btn btn-danger">cors</button>
<div class="alert alert-dark mt-3 w-50" role="alert" id="divAlert">

</div>
<div class="alert alert-dark mt-3 w-50" role="alert" id="divLoad">

</div>
@section Scripts{
    <script>
        $("#divLoad").load("@Url.Content("~/Home/Partial")");


        $('#buttonGet').click(function () {
            $.get("@Url.Content("~/Test/Index")",{"name":"aaa","age":25,"address":"taipei"},
        function(data){
            $("#divAlert").html(`<h4>${data}</h4>`);
        });

            $('#divAlert').text("GET")
        })
        $('#buttonPost').click(function () {
            $.post("@Url.Content("~/Test/Index")",{"name":"bbb","age":30,"address":"Yilan"},function(data){
                $("#divAlert").html(`<h4>${data}</h4>`);
            });

            $('#divAlert').text("POST")
        })
        $('#buttonJson').click(function () {

            $.getJSON("@Url.Content("~/Test/site")",{"city":"宜蘭縣"},function(datas){
                console.log(datas);

                let frag = $(document.createDocumentFragment());
                $.each(datas,function(index,site){
                    console.log(site);
                    const txt =$('<p></p>').text(site);
                    frag.append(txt);
                })
                $('#divAlert').html(frag);
            })

            //$('#divAlert').text("JSON")
        })
        $('#buttonLoad').click(function () {
            $('#divAlert').load("@Url.Content("~/Home/Partial")");
        })
        $('#buttonAjax').click(function () {

            $.ajax({
                url:"@Url.Content("~/Test/site")",
                type:"get",
                data:{"city":"臺北市"}

            }).done((data)=>{
                const site = data.map(value => `<p>${value}</p>`)
                $('#divAlert').html(site);
            })
            $('#divAlert').text("AJAX")
        })
        $('#buttonCors').click(function () {
            $('#divAlert').text("CORs")
        })

    </script>
}